.container {
  bottom: 0;
  background: rgba(var(--bg), .75);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid var(--bg-accent);
  overflow: hidden;
  overflow-y: auto;
  bottom: 30px;
  max-height: 450px;
  height: auto;
  box-shadow: var(--beam-shadow);
  position: fixed;
   -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
.menu__title {
  background: var(--bg);
  border-bottom: 1px solid var(--bg-accent);

  padding: 12px 20px;
  text-align: center;
  letter-spacing: -0.04rem;
}

.button {
  // box-shadow: 0 4px 20px -8px rgba(0, 0, 0, 0.377);
  // border-width: 2px;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.menu__item {
  display: flex;
  padding: 12px 16px;
  min-width: 270px;
  position: relative;
  font-weight: 500;
  letter-spacing: -0.04rem;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 8px;
  transition: var(--fade-in);
  &:hover {
    @media screen and (min-width: 500px) {
      background: var(--bg-accent);
      color: var(--bg-contrast);
    }
    box-shadow: none;
    // transform: translate(8px, 0);
  }
  &.active {
    outline: 2px dashed red;
  }
  // &:not(:last-of-type):after {
  //   content: '';
  //   height: 1px;
  //   width: 80%;
  //   left: 5%;
  //   right: 5%;
  //   position: absolute;
  //   bottom: -4px;
  //   background: var(--bg-accent);
  // }
}

.active_menu__item {
  background: var(--primary);
  color: var(--primary-contrast);
  font-weight: 700;
  text-transform: capitalize;
  box-shadow: var(--beam-shadow);
}
.menu__item__container {
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  box-shadow: var(--beam-shadow);
  overflow: hidden;
  overflow-y: auto;
  max-height: 500vh;
}
