.card {
  // transition: box-shadow;
  // // box-shadow: 0 7px 10px -2px #c70b0baa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  margin: 0 auto;
  // border-radius: 1000px;
}
