.timeline-listing {
  padding: 70px 20px 0;
  position: relative;
  height: 100%;
  max-width: 900px;
  overflow-y: auto;
  animation: bounceInLeft;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
