#page_hero {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg);
  transition: var(--fade-in);
  z-index: 0;
  overflow: hidden;
  // @media screen and (min-width: 768px) {

  flex-wrap: nowrap;
  // }
}

.hero-title {
  --slid_width: 10%;
  font-style: normal;
  font-weight: bolder;
  font-size: 70px;
  line-height: 1;
  text-transform: uppercase;
  /* identical to box height, or 152% */
  text-align: center;
  position: relative;
  color: var(--text-color);
  text-shadow: 2px 2px 2px var(--text-contrast);
  font-family: var(--display-font);

  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  .before-title {
    content: '';
    height: 2px;
    background-color: var(--text-color);
    position: relative;
    margin: 20px auto;
    transition: var(--fade-in);
    // left: -10%;
    // width: 120%;
    &::before {
      content: '';
      background-color: currentColor;
      position: absolute;
      top: -8px;
      transition: var(--fade-in);
      width: var(--slid_width);
      height: 8px;
      left: 0px;
    }
  }
  &:hover {
    .before-title {
      &::before {
        transform: skew(45deg, 0deg) translate(-5px, 1px);
      }
    }
    .after-title {
      &::before {
        transform: skew(45deg, 0deg) translate(5px, -1px);
      }
    }
  }
  .after-title {
    content: '';
    height: 2px;
    margin: 20px auto;
    position: relative;
    background-color: var(--text-color);

    &::before {
      transition: var(--fade-in);
      display: block;
      content: '';
      background: currentColor;
      position: absolute;
      bottom: -8px;
      width: var(--slid_width);
      height: 8px;
      right: 0px;
    }
  }
}
.hero_content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 15px;

  @media (prefers-color-scheme: dark) {
    background: none;
  }

  margin-top: 50vh;
  // height: auto;
  // flex-grow: 1;
  width: 100%;
  // margin-top: 10%;
  @media screen and (max-width: 500px) {
    padding-bottom: 70px;
    // margin-top: 30%;
  }

  .subtitle {
    // font-family: var(--code-font);
    font-weight: 200;
    font-size: 18px;
  }
}
.me_passport {
  position: absolute;
  z-index: 0;
  margin: 0 auto;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  margin-top: -30%;

  @media screen and (min-width: 768px) {
    margin-top: -10%;
  }
  img {
    // mix-blend-mode: multiply;
    // filter: contrast(120%);
    // // opacity: 0.75;
    max-width: 70%;
    @media screen and (min-width: 500px) {
      max-width: 40%;
    }
    @media screen and (min-width: 800px) {
      max-width: 70%;
    }

    @media screen and (min-width: 1024px) {
      max-width: 50%;
    }
    // margin: 0 auto 150px;
    // opacity: 0.95;
  }
}
