.title {
  font-weight: 600;
  font-size: 18px;
  position: relative;
  margin-bottom: 8px;
  display: inline-flex;
  margin-bottom: 30px;
  font-family: var(--display-font);
  &:before {
    content: '';
    background: var(--primary);
    width: 50%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
    transform: translate(0px, 32px);
  }
  &:after {
    content: '';
    background: var(--primary);
    width: 4px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    left: 55%;
    transform: translate(0px, 32px);
  }
}

.skill_category_name {
  font-family: var(--display-font);
  display: block;
  font-weight: 600;
  opacity: 0.75;
  margin-bottom: 12px;
}
