#fixed-right-panel {
  position: fixed;
  bottom: -10px;
  right: 30px;
  margin: 0 auto;
  z-index: 10;
  // margin-top: -27px;
  transform-origin: center right;
  transform: rotate(90deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100vh - 30px);
}
@mixin btn() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13px;
  width: 50px;
  height: 50px;
  background: var(--bg-accent);
  
  &:hover {
    box-shadow: inset 0 -4px 4px -3px #ffffff35, var(--beam-shadow);
  }
}
.square-btn {
  @include btn();
}
.round-btn {
  @include btn();
  border-radius: 30px;
}

.scroll-indicator {
  transform-origin: top left;
  transform: rotate(90deg);
  justify-content: space-evenly;
  // position: sticky;
  user-select: none;
  display: flex;
  margin: auto;
  flex-grow: 1;
  display: flex;
  column-gap: 10px;
  align-items: center;
  color: var(--darken);
  width: 100vh;
  height: auto;
  text-transform: uppercase;
  text-align: center;
  gap: 30px;
  &::before {
    content: "";
    background: var(--darken);
    height: 1px;
    opacity: 0.75;
    position: relative;
    // width: calc(35% - 10px);
    flex: auto;
    z-index: -1;
    // left: 10px;
    // margin-left: auto;
  }

  &::after {
    opacity: 0.75;
    content: "";
    background: var(--darken);
    height: 1px;
    position: relative;
    flex: auto;
    right: 10px;
    z-index: -1;
  }
  span {
    margin: 0 auto;
  }
}
.scroll-navigator {
  font-size: 30px;
  transform: rotate(-90deg);
}
.hidden_scollbar {
  scrollbar-width: none;
}
