.button {
  background: var(--bg);
  border: 1px solid var(--bg-accent);
  box-shadow: 0 4px 20px -8px rgba(0, 0, 0, 0.377);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
