:root{
  color-scheme: light dark;
  --primary: #28A6F9;
  --gray-001: #D9D9D9;
  --light-text-default-color: #343434;
  --light-bg: #F2F2F2;

  --dark-bg: #141a31;
  --dark-bg-shade: #141A31;
  --dark-card-bg: #141414;
  --fade-in:  all 0.5s ease-in-out;
  
}
