@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&family=Work+Sans:wght@300;400;700&display=swap');

@mixin light-theme() {
  --bg: #fff;
  --bg-accent: #f2f2f2;
  --text-color: #343434;
  --highlighted: #28a6f9;
  --primary-accent: #d9d9d9;
  --darken: #72788b;
  --lighten: #72788b;
  --beam-shadow: 0px 20px 30px 6px rgba(0, 0, 0, 0.125);
}

@mixin dark-theme() {
  --beam-shadow: 0px 20px 30px -6px rgba(40, 166, 249, 0.2);
  --primary-accent: #28a6f9;
  --bg: #141a31;
  --bg-accent: #1d233a;
  --darken: #72788b;
  --lighten: #72788b;
  --text-color: #f2f2f2;
  --highlighted: #28a6f9;
}

@mixin tag() {
  display: inline;
  background: var(--bg);
  filter: contrast(80%) opacity(80%);
  padding: 4px 8px;
  word-break: break-all;
  // border-radius: 20px;
  user-select: none;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden;
  text-transform: capitalize;
}
@media (prefers-reduced-motion) {
}

body {
  @include light-theme();
  &[data-theme='dark'] {
    @include dark-theme();
  }

  /* @media (prefers-color-scheme: dark) {
    @include dark-theme();
  }
  @media (prefers-color-scheme: light) {
    @include light-theme();
  } */
  transition: var(--fade-in);
  // max-height: 100vh;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100vmin;
  font-family: 'Rubik', sans-serif;
  background-color: var(--bg-accent);
  aspect-ratio: 1;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.027em;
  font-weight: 300;
  scroll-behavior: smooth;
  color: var(--text-color);
  &[data-schema='true'] * {
    outline: 1px dashed #71c1f055;
    outline-offset: 0px;
  }
}
.boxed_layout {
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: calc(75%);
  }
}

.page_section {
  min-height: 100vh;
}

.list {
  display: flex;
  flex-direction: column;
  > .list-item {
    display: block;
  }
  &.list-row {
    flex-direction: row;
    // column-gap: 10px;
    flex-wrap: wrap;
  }
}
.card {
  --opacity: 0.95;
  display: flex;
  row-gap: 10px;
  column-gap: 30px;
  padding: 20px;
  user-select: none;
  position: relative;
  // margin-bottom: 30px;
  background-color: var(--bg);
  color: #868686c5;
  transition: var(--fade-in);
  // border-radius: 4px;
  &:hover {
    color: var(--text-color);
    box-shadow: 0px 0px 0px 4px var(--primary-accent);
    --opacity: 1;
    @media screen and (min-width: 768px) {
      transform: translateX(-15px);
    }
  }
  .card-icon {
    opacity: var(--opacity);
    position: relative;
    width: 60px;
    height: 60px;
    background: transparent;
    // border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .card-meta {
    padding: 8px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    .title {
      /* identical to box height */

      // color: #828282;
    }
  }
  .name,
  .title,
  .org {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    opacity: var(--opacity);
    font-weight: 400;
    font-size: 20px;
    max-width: 85%;
    user-select: none;
  }
  &.project {
    position: relative;

    .roles {
      display: flex;
      gap: 4px;
      align-items: flex-start;
      flex-wrap: wrap;
      .role {
        @include tag();
      }
    }

    .meta {
      font-size: 12px;
      user-select: none;
      text-transform: capitalize;
    }
    .description {
      position: relative;
      font-size: 12px;
      user-select: none;
      margin: 8px 0;
    }
  }
}
.timeline-listing {
  &::before {
    position: absolute;
    top: 30px;
    left: 4px;
    content: '';
    width: 2px;
    height: calc(100% - 60px);
    background: var(--bg);
  }
  .card {
    margin-bottom: 70px;
    .meta {
      background: var(--bg);
      padding: 4px 12px;
      margin-left: -30px;
      transition: var(--fade-in);
    }
    &:hover {
      // transform: translate(0);
      .meta {
        margin-left: 0;
      }
    }
  }
}
.card_listing {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  // margin: 15px 0;
}

.section_title {
  font-style: normal;
  user-select: none;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  margin-bottom: 25px;
  [data-theme='dark'] & {
    color: #8c8c8c;
  }
}

.lead {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 15px;
  user-select: none;
}

input,
textarea {
  padding: 8px 12px;
  width: 100%;
}
textarea {
  resize: none;
}

.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: var(--fade-in);
  /* identical to box height, or 137% */
  text-align: center;
  letter-spacing: 0.2em;
  color: inherit;
  text-transform: uppercase;
  &:hover {
    @media screen and (min-width: 768px) {
      transform: translate(-15px, -6px);
    }
    box-shadow: var(--beam-shadow);
  }
  &.btn-outline {
    border: 1px solid currentColor;
    // margin-right: -17%;
  }
  &-lg {
    // padding: 30px 30%;
    @media screen and (min-width: 768px) {
      // min-width: 200px;
      width: 300px;
    }
    width: 100%;
    // flex-grow: 1;
    min-height: 80px;
  }
  &.btn-primary {
    background-color: var(--primary);
    color: white;
    a {
      color: inherit;
    }
  }
}

.meta_box {
  background: var(--bg);
  box-shadow: 0 15px 10px 10px var(--primary-accent),
    0 30px 100px 20px #3c8ce745;

  .meta_box-left {
    transition: all 0.5s ease-in-out;
    background: var(--bg);
    // height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }
  .meta_box-right {
    // overflow: hidden;
    // border-top: 1px solid var(--primary-accent);
    width: 900px;

    flex-basis: fill;
    background: var(--bg-accent);
    // border-left-style: solid;
    // border-left-width: 1px;
    // border-left-color: var(--primary-accent);
    height: 100vh;
    // max-height: 100vh;
    @media screen and (min-width: 768px) {
      min-width: 700px;
    }
  }
}

.hidden_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    // color: red;
  }
}

.tab_head {
  background: var(--bg);
  box-shadow: var(--beam-shadow);
  // border: 2px solid var(--primary-accent);
  font-style: normal;
  font-weight: normal;
  font-size: 0.85rem;
  line-height: 26px;
  transition: var(--fade-in);
  color: #c3c4c4;
  max-width: 100vw;

  // border-radius: 10px;
  // color: #28a6f9;
}

.badge {
  background: var(--bg-accent);
  transition: var(--fade-in);
  padding: 20px 30px;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 16px;
  font-weight: 600;
  min-width: 150px;
  color: var(--default);
  &[data-active='true'] {
    background: var(--primary);
    color: white;
    box-shadow: /* inset 0 0 0px 2px white, */ var(--beam-shadow);
  }
}
.tag {
  @include tag();
  font-size: 0.75rem;
  font-weight: 300;
}
/* .pill {
  // border-radius: 50px;
} */

[data-hide='true'] {
  visibility: hidden;
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  top: 0;
  // transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 0;
}

a {
  transition: var(--fade-in);
  color: inherit;
  &:hover {
    color: var(--primary);
  }
}

.dot-list {
  display: inline-flex;
  flex-wrap: wrap;
  // gap: 8px;
  align-items: baseline;

  .list-item {
    font-size: 12px;
    &:not(:last-of-type)::after {
      content: '•';
      width: 12px;
      height: 12px;
      position: relative;
      margin: 0 4px;
    }
  }
}
