#page_hero {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg);
  transition: var(--fade-in);
  z-index: 0;
  overflow: hidden;
  // @media screen and (min-width: 768px) {
  top: 0;
  position: sticky;
  // }
}

.social_icon {
  font-size: 30px;
}
.hero-title {
  --slid_width: 10%;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 1;
  text-transform: uppercase;
  /* identical to box height, or 152% */
  text-align: center;
  position: relative;
  color: var(--text-color);
  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
  .before-title {
    content: "";
    height: 2px;
    background-color: var(--text-color);
    position: relative;
    margin: 20px auto;
    transition: var(--fade-in);
    // left: -10%;
    // width: 120%;
    &::before {
      content: "";
      background-color: currentColor;
      position: absolute;
      top: -8px;
      transition: var(--fade-in);
      width: var(--slid_width);
      height: 8px;
      left: 0px;
    }
  }
  &:hover {
    .before-title {
      &::before {
        transform: skew(45deg, 0deg) translate(-5px, 1px);
      }
    }
    .after-title {
      &::before {
        transform: skew(45deg, 0deg) translate(5px, -1px);
      }
    }
  }
  .after-title {
    content: "";
    height: 2px;
    margin: 20px auto;
    position: relative;
    background-color: var(--text-color);

    &::before {
      transition: var(--fade-in);
      display: block;
      content: "";
      background: currentColor;
      position: absolute;
      bottom: -8px;
      width: var(--slid_width);
      height: 8px;
      right: 0px;
    }
  }
}
.hero_content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}
.me_passport {
  position: absolute;
  z-index: 0;
  img {
    mix-blend-mode: multiply;
    filter: contrast(120%);
    opacity: 0.25;
    max-width: 80%;
    @media screen and (min-width: 768px) {
      max-width: 50%;
    }
    margin: 0 auto 150px;
    // opacity: 0.25;
  }
}
